PL_MVC/Connected Services/ServiceReferencePaquete/Paquetes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Paquetes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59520/Paquetes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59520/Paquetes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59520/Paquetes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:59520/Paquetes.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ML" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaquetes_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IPaquetes_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPaquetes_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IPaquetes_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IPaquetes_UpdateEF_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEF" />
  </wsdl:message>
  <wsdl:message name="IPaquetes_UpdateEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEFResponse" />
  </wsdl:message>
  <wsdl:message name="IPaquetes_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IPaquetes_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPaquetes_DeleteLINQ_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLINQ" />
  </wsdl:message>
  <wsdl:message name="IPaquetes_DeleteLINQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLINQResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaquetes">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaquetes/GetAll" message="tns:IPaquetes_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaquetes/GetAllResponse" message="tns:IPaquetes_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaquetes/Add" message="tns:IPaquetes_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaquetes/AddResponse" message="tns:IPaquetes_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaquetes/UpdateEF" message="tns:IPaquetes_UpdateEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaquetes/UpdateEFResponse" message="tns:IPaquetes_UpdateEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaquetes/GetById" message="tns:IPaquetes_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaquetes/GetByIdResponse" message="tns:IPaquetes_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLINQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaquetes/DeleteLINQ" message="tns:IPaquetes_DeleteLINQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaquetes/DeleteLINQResponse" message="tns:IPaquetes_DeleteLINQ_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaquetes" type="tns:IPaquetes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IPaquetes/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IPaquetes/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEF">
      <soap:operation soapAction="http://tempuri.org/IPaquetes/UpdateEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IPaquetes/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLINQ">
      <soap:operation soapAction="http://tempuri.org/IPaquetes/DeleteLINQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Paquetes">
    <wsdl:port name="BasicHttpBinding_IPaquetes" binding="tns:BasicHttpBinding_IPaquetes">
      <soap:address location="http://localhost:59520/Paquetes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>